<!--  
    Team Members: Adam Bonny, Adam Gao, Bryson Shanklin, Garrett Sackley, David Hamblin, Matt Bleazard
    IS 303 Professor Hilton Section 001
    Project 3 Vehicle Inventory System  
-->
<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Add Vehicle</title>
      <script>
            if(document.getElementById("vStillUsing").checked == false){
                  document.getElementById("vStillUsing").value = "N";
            };
      </script>
</head>
<body>
      <form action="/addvehicle" method="POST">
            <label for="vDescription">Enter Vehicle Description:</label>
            <input type="text" id="vDescription" name="vDescription">
            <br><br>
            <label for="vType">Enter Vehicle Type:</label>
            <input id="rCar" type="radio" value="C" name="vType" checked/>Car
            <input id="rTruck" type="radio" value="T" name="vType"/>Truck
            <input id="rMotorcycle" type="radio" value="M" name="vType"/>Motorcycle
            <br>
            <label for="vYear">Enter Vehicle Year:</label>
            <input type="number" id="vYear" name="vYear" min=1950>
            <br><br>
            <label for="vMileage">Enter Vehicle Mileage:</label>
            <input type="number" id="vMileage" name="vMileage">
            <br><br>
            <label for="vStillUsing">Still Using?</label>
            <input type="checkbox" id="vStillUsing" name="vStillUsing" value="Y" checked> Checked for Yes
            <br><br>
            <button type="submit">Save Vehicle</button>
      </form>
      <form action="/displayVehicle" method="get" style="display: inline-block">
            <button type="submit">Cancel</button>
      </form>
</body>
</html>









