<!--  
    Team Members: Adam Bonny, Adam Gao, Bryson Shanklin, Garrett Sackley, David Hamblin, Matt Bleazard
    IS 303 Professor Hilton Section 001
    Project 3 Vehicle Inventory System  
-->

<!DOCTYPE html>
<html lang="en">
      <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Edit Vehicle</title>
      </head>
      <body>
            <form action="/editvehicle" method="POST">
            <fieldset style="width: 0px;">
                  <legend>Edit Vehicle:</legend>
                  <input type="hidden" id="VehicleID" name="VehicleID" value="<%=myVehicles[0].vehicle_id %>">
                  <label for="vDescription">Enter Vehicle Description:</label>
                  <input type="text" id="vDescription" name="vDescription" value="<%=myVehicles[0].vDescription %>">
                  <br><br>
                  <label for="vType">Enter Vehicle Type:</label>
                  <input id="rCar" type="radio" value="C" name="vType" <%if (myVehicles[0].vType == "C") {%> checked <%}%>/>Car
                  <input id="rTruck" type="radio" value="T" name="vType" <%if (myVehicles[0].vType == "T") {%> checked <%}%>/>Truck
                  <input id="rBike" type="radio" value="B" name="vType" <%if (myVehicles[0].vType == "B") {%> checked <%}%>/>Bike
                  <input id="rMotorcycle" type="radio" value="M" name="vType" <%if (myVehicles[0].vType == "M") {%> checked <%}%>/>Motorcycle
                  <br>
                  <label for="vYear">Enter Vehicle Year:</label>
                  <input type="number" id="vYear" name="vYear" min=1950 value="<%=myVehicles[0].vYear %>">
                  <br><br>
                  <label for="vMileage">Enter Vehicle Mileage:</label>
                  <input type="number" id="vMileage" name="vMileage" value="<%=myVehicles[0].vMileage %>" <%if (myVehicles[0].vType == "B") {%> readonly <%}%>>
                  <br><br>
                  <label for="vStillUsing">Still Using?</label>
                  <input type="radio" id="Y" name="vStillUsing" value="Y" <%if (myVehicles[0].vStillUsing == "Y") {%> checked <%}%>/>Yes
                  <input type="radio" id="N" name="vStillUsing" value="N" <%if (myVehicles[0].vStillUsing == "N") {%> checked <%}%>>No 
                  <br><br>
                  <button type="submit">Save Vehicle</button>
                  <button type="Cancel">Cancel</button>
            </fieldset>
            </form>
      </body>
</html>
