<!--  
    Team Members: Adam Bonny, Adam Gao, Bryson Shanklin, Garrett Sackley, David Hamblin, Matt Bleazard
    IS 303 Professor Hilton Section 001
    Project 3 Vehicle Inventory System  
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <title>Home</title>
        <style>
            footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #b0a393;
            color: white;
            text-align: center;
            height: 15vh;
            }


            .body {
                margin-top: 5vh;
                display: flex;
                justify-content: center;
                justify-content: center;
                align-items: stretch;
                text-align: center;
                color: #7f3a33;
            }

            section div {
                flex: 1;
                background-color: rgba(224,197,178,255);
                height: 50vh;
                margin-right: 5vh;
            }


            section div:first-child {
                margin-left: 5vh;
            }

            span {
                display: flex;
                flex-flow: column wrap;
            }

            span div {
                flex: 1;
            }

            span div:first-child {
                margin-top: 1vh;
            }

            div span {
                width: 80%;
                margin: auto;
            }
            body {
                background-color: white;
               
            }

            header {
                height: 10vh;
                background-color:#42536d;
                #2c2b34
                opacity: 0.2;
                font-family: {"RooneySans-Medium", "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif};
            }

            section div span {
                margin-top: 1vh;
            }

            img {
                width: 80vh;
            }
            </style>
    </head>
    <body >
        <header class="pl-16 p-4"> 
            <h1 class="font-normal-light text-white text-center text-4xl align-middle">Group Project 3</h1>
            <nav class="font-normal-light text-white text-right"><a href="/displayvehicle">Display Vehicles</a></nav>
        </header>
        <section class="body text-white">
            <div>
                <span>
                    Matt Bleazard
                    <img src="https://media-exp1.licdn.com/dms/image/C5603AQHMZ1pnU4DOSg/profile-displayphoto-shrink_200_200/0/1600490871614?e=1644451200&v=beta&t=C8UiLT11u6SYiHbaQfOS0b2GAxtIa1FTUYoBUpoINNw" alt="matt">
                </span>
                <span>

                </span>
            </div>
            <div>
                <span>
                    Adam Bonny
                    <img src="https://ca.slack-edge.com/T02A947SCH2-U02CTQ45YMR-417342a0f086-512" alt="adam b">
                </span>
                <span>

                </span>
            </div>
            <div>
                <span>
                    Adam Gao
                    <img src="https://media-exp1.licdn.com/dms/image/C5603AQHMZ1pnU4DOSg/profile-displayphoto-shrink_200_200/0/1600490871614?e=1644451200&v=beta&t=C8UiLT11u6SYiHbaQfOS0b2GAxtIa1FTUYoBUpoINNw" alt="adam g">
                </span>
                <span>

                </span>
            </div>
            <div>
                <span>
                    Bryson Shanklin
                    <img src="https://media-exp1.licdn.com/dms/image/C5603AQGn1KOFm0G8nQ/profile-displayphoto-shrink_200_200/0/1624053062161?e=1644451200&v=beta&t=8jalrW-u8ATFrpL9vzbYw9RXxRGrMTDUTagpzRGfBy4" alt="bryson">
                </span>
                <span>

                </span>
            </div>
            <div>
                <span>
                    David Hamblin
                    <img src="https://ca.slack-edge.com/T02A947SCH2-U02CTQ45YMR-417342a0f086-512" alt="adam b">
                </span>
                <span>

                </span>
            </div>
            <div>
               <span>
                    Garrett Sackley
                    <img src="https://media-exp1.licdn.com/dms/image/C5603AQEQlYKAAFNjAQ/profile-displayphoto-shrink_200_200/0/1604385330821?e=1644451200&v=beta&t=7iAEVnPLa2ZUoMYr66CHIY6tFJ7aWZU7L1YdELD_k4M" alt="Garrett">
                </span>
                <span>

                </span>
            </div>
        </section>
        
        <footer>
            <span class="align-middle">
                <div>Contact</div>
                <div>Call or Text: 801-422-4636 </div>
                <div>Email:<a href="mailto:weluvkars@gmail.com"> weluvkars@gmail.com</a></div>
                <div>Copyright © Team Amazing 2021</div>
            </span>
        </footer>
        
    </body>
</html>
