<!--  
    Team Members: Adam Bonny, Adam Gao, Bryson Shanklin, Garrett Sackley, David Hamblin, Matt Bleazard
    IS 303 Professor Hilton Section 001
    Project 3 Vehicle Inventory System  
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>

    </header>
    <!--This page should have some means of displaying the "displayVehicle.ejs" page (i.e. button, menu item, image, etc.).--> 
    <h1>
        This is the home page
    </h1>
    <a href="/displayvehicle">Display</a>
    <footer>
        
    </footer>
</body>
</html>
