<!--  
    Team Members: Adam Bonny, Adam Gao, Bryson Shanklin, Garrett Sackley, David Hamblin, Matt Bleazard
    IS 303 Professor Hilton Section 001
    Project 3 Vehicle Inventory System  
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        footer {
           position: fixed;
           left: 0;
           bottom: 0;
           width: 100%;
           background-color: rgb(255, 102, 0);
           color: white;
           text-align: center;
        }
        </style>
</head>
<body>
    <header>
        <h1>Vehicle Inventory System</h1>
        <h3></h3>
    </header>
    <!--This page should have some means of displaying the "displayVehicle.ejs" page (i.e. button, menu item, image, etc.).--> 
    <h1>
        This is the home page
    </h1>
    <a href="/displayvehicle">Display</a>
    
    <footer>
        Contact <br>
        Call or Text: 801-422-4636 <br>
        Email:<a href="mailto:weluvkars@gmail.com"> weluvkars@gmail.com</a> <br>
        Copyright © Team Amazing 2021
    </footer>
    
</body>
</html>
